

.TodoPomodoroList{
  grid-area: TodoPomodoroList;

  background: rgb(255, 255, 255);      
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.091);
  text-align: center;

  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */

  overflow-y: scroll; 

  border-radius: 0px 0px 18px 22px;
  
  position: relative;

  display:grid;
  grid-template-columns: auto;
  grid-template-rows: 18% 8% auto 10%;
  grid-template-areas: "title"
                        "enterTodo"
                        "todos"
                        "todos-footer";
                      
  
  .EnterTodo > * {
    display: inline-block;
    padding:1%;
    margin:0 2%;
    box-shadow:0 0 10px 1px rgba(0, 0, 0, 0.166);
    border: 0;
    
  }

  .filter{
    border-radius: 10px;
    background-color: white;
    border:1px;
    padding:0;
  }

  .filter:hover{
    .dropend{
      background-color: black;
      border-radius: 10px;
      .dropdown-toggle::after, svg{
        filter: invert(48%) saturate(2476%) hue-rotate(86deg) brightness(190%) contrast(119%);
      }
    }
    

  }
  .EnterTodo{
    grid-area: enterTodo;
    margin-bottom: 2%;
    input{
      width:60%;
      border-radius: 10px;

    }

  }
  .todos-title{
    grid-area: title;
    border-top: 15px dotted #9393938d;
    margin-left: 2%;
    margin-top: 2%;
    width: 95%;
    text-align: center;
    padding: 3%;
  }

  .my-todos{
    grid-area: todos;
    overflow-y: scroll; 
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    
  }

  .my-todos::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

  .todos-footer{
    grid-area: todos-footer;
    
    position: absolute;
    bottom:0;

    div{
      width: fit-content;
      display: inline;
    }

    .all{
      margin: 0% 10%;
    }

    button{
      padding: 1%;
      border-radius: 5px;
      border: none;
      box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.274);
    }

    .bold{
      font-style: italic;    
    }

    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.139);

    padding:1%;
    width: 100%;
    border-radius: 0px 0px 18px 22px;
    margin-bottom: 0;
}

}

.TodoPomodoroList::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

// .hide-todos{
//   writing-mode: vertical-rl;
//   text-orientation: mixed;
//   width: 20px;
//   height: fit-content;
//   border-radius: 3px 0px 0px 3px;
//   position: absolute;
//   right:0;
//   top: calc(40%);
//   cursor:pointer;
//   background-color: rgba(0, 0, 0, 0.304);
//   color: white;

//   p{
//     margin:0px;
//     padding:5px 0px;
//   }
// }

.Todo-li{
    list-style: none;
    border-bottom: 1px solid rgb(184, 184, 184);
    width:90%;
    max-width: 90%;
    cursor: move;
  
  
    input[type=text]{
      width:100%;
      border:0;
  
    }
  
    label{
      overflow-wrap: break-word;
      word-wrap: break-word;
      width: 85%;
      text-align: left;
    }
  
    .checkbox-wrapper-11{
      display: flex;
      
    }
    .buttonTodo{
      border: 0;
      background-color: white;
      font-weight: bold;
      font-size: larger;
      color: grey;
      
    }
  
    .deleteTodo:hover{
      color: black;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
      padding: 0 2%;
      border-radius: 50px;
    }
}
  


