
.Todo-li{
    list-style: none;
    border-bottom: 1px solid rgb(184, 184, 184);
    width:90%;
    max-width: 90%;
    cursor: move;
    font-family: 'Red Hat Display', sans-serif;

    .todo{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
  
    input[type=text]{
      width:100%;
      border:0;
  
    }
  
    label{
      overflow-wrap: break-word;
      text-align: left;
    }
  
    .buttonTodo{
      border: 0;
      background-color: white;
      font-weight: bold;
      font-size: larger;
      color: grey;
      border-radius: 50px;
      
    }

    .buttonTodo:hover{
      border-radius: 10px;
    }
    

}