
.TodoPomodoroList{
  grid-area: TodoPomodoroList;

  background: rgb(255, 255, 255);      
  // justify-self: stretch;
  // align-self: stretch;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.091);
  text-align: center;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
  border-radius: 0px 0px 18px 22px;

  display:grid;
  grid-template-columns: auto;
  grid-template-rows: 18% 8% auto 10%;
  grid-template-areas: "title"
                        "enterTodo"
                        "todos"
                        "todos-footer";
                      

  .EnterTodo > * {
    display: inline-block;
    padding:1%;
    margin:0 2%;
    box-shadow:0 0 10px 1px rgba(0, 0, 0, 0.166);
    border: 0;

  }
  .EnterTodo{
    grid-area: enterTodo;
    margin-bottom: 2%;
    input{
      // border:0;
      width:60%;
      border-radius: 10px;
      // box-shadow:0 0 8px 1px rgba(0, 0, 0, 0.166);
      // border-bottom:solid 1px rgb(216, 216, 216) ;
    }

  }
  .todos-title{
    grid-area: title;
    border-top: 15px dotted #9393938d;
    margin-left: 2%;
    margin-top: 2%;
    width: 95%;
    text-align: center;
    padding: 3%;
  }

  .my-todos{
    // height: 63%;
    grid-area: todos;
    overflow-y: scroll; 
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */

  }

  .my-todos::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

  .todos-footer{
    grid-area: todos-footer;
    
    position: relative;
    bottom:0;

    div{
      width: fit-content;
      display: inline;
    }

    .all{
      margin: 0% 10%;
    }

    button{
      padding: 1%;
    }

    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.139);

    padding:1%;
    width: 100%;
    border-radius: 0px 0px 18px 22px;
    margin-bottom: 0;





}

}

.TodoPomodoroList::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.Todo-li{
    list-style: none;
    border-bottom: 1px solid rgb(184, 184, 184);
    width:90%;
    max-width: 90%;
  
  
    input[type=text]{
      width:100%;
      border:0;
  
    }
  
    label{
      overflow-wrap: break-word;
      word-wrap: break-word;
      width: 90%;
      text-align: left;
    }
  
    .checkbox-wrapper-11{
      display: flex;
      
    }
    .deleteTodo{
      border: 0;
      background-color: white;
      font-weight: bold;
      font-size: larger;
      color: grey;
      position:absolute;
      right:0;
      
    }
  
    .deleteTodo:hover{
      color: black;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
      padding: 0 2%;
      border-radius: 50px;
    }
}
  


